In [2]:
// Create DF

val df = spark.read.format("json")
    .load("guide/data/flight-data/json/2015-summary.json")

df = [DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string ... 1 more field]

In [ ]:
df.printSchema()

In [ ]:
// Enforce a specific Schema


import org.apache.spark.sql.types.{StructField, StructType, StringType, LongType}
import org.apache.spark.sql.types.Metadata

In [ ]:
val myManualSchema = StructType(Array(
    StructField("DEST_COUNTRY_NAME", StringType, true),
    StructField("ORIGIN_COUNTRY_NAME", StringType, true),
    StructField("count", LongType, false,
               Metadata.fromJson("{\"hello\":\"world\"}"))
))

In [ ]:
val df = spark.read.format("json").schema(myManualSchema)
    .load("guide/data/flight-data/json/2015-summary.json")

In [ ]:
// Columns

import org.apache.spark.sql.functions.{col, column}

In [ ]:
col("someColumnName")

In [ ]:
column("someColumnName")

In [ ]:
// Syntatic sugar

$"myColumn"

In [ ]:
'myColumn

In [ ]:
// col refs


df.col("count")

In [ ]:
(((col("someCol") + 5) * 200) - 6) < col("otherCol")

In [ ]:
import org.apache.spark.sql.functions.expr

expr("(((someCol + 5) * 200) - 6) < otherCol")

In [ ]:
// schemas

spark.read.format("json").load("guide/data/flight-data/json/2015-summary.json").columns

In [ ]:
// records

df.first()

In [ ]:
import org.apache.spark.sql.Row

val myRow = Row("Hello", null, 1, false)

In [ ]:
myRow(0)

In [ ]:
myRow(1)

In [ ]:
myRow(2)

In [ ]:
myRow(3)

In [ ]:
myRow(4)

In [ ]:
// creating dataframes

val df = spark.read.format("json")
    .load("guide/data/flight-data/json/2015-summary.json")


df.createOrReplaceTempView("dfTable")

In [ ]:
import org.apache.spark.sql.Row
import org.apache.spark.sql.types.{StructField, StructType, StringType, LongType}

In [ ]:
val myManualSchema = new StructType(Array(
    new StructField("some", StringType, true),
    new StructField("col", StringType, true),
    new StructField("names", LongType, false)))

In [ ]:

val myRows = Seq(Row("Hello", null, 1L))

In [ ]:
val myRDD = spark.sparkContext.parallelize(myRows)

In [ ]:
val myDF = spark.createDataFrame(myRDD, myManualSchema)

In [ ]:
myDF.show()

In [3]:
df.select("DEST_COUNTRY_NAME").show(2)

+-----------------+
|DEST_COUNTRY_NAME|
+-----------------+
|    United States|
|    United States|
+-----------------+
only showing top 2 rows

In [4]:
df.select("DEST_COUNTRY_NAME", "ORIGIN_COUNTRY_NAME").show(2)

+-----------------+-------------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+-----------------+-------------------+
|    United States|            Romania|
|    United States|            Croatia|
+-----------------+-------------------+
only showing top 2 rows

In [5]:
import org.apache.spark.sql.functions.{expr, col, column}

In [8]:
df.select(
        df.col("DEST_COUNTRY_NAME"),
        col("DEST_COUNTRY_NAME"),
        column("DEST_COUNTRY_NAME"),
        'DEST_COUNTRY_NAME,
        $"DEST_COUNTRY_NAME",
        expr("DEST_COUNTRY_NAME"))
        .show(2)

+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|DEST_COUNTRY_NAME|
+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|    United States|    United States|    United States|    United States|    United States|    United States|
|    United States|    United States|    United States|    United States|    United States|    United States|
+-----------------+-----------------+-----------------+-----------------+-----------------+-----------------+
only showing top 2 rows

In [9]:
// error

df.select(col("DEST_COUNTRY_NAME"), "DEST_COUNTRY_NAME")

Name: Compile Error
Message: <console>:31: error: overloaded method value select with alternatives:
  [U1, U2](c1: org.apache.spark.sql.TypedColumn[org.apache.spark.sql.Row,U1], c2: org.apache.spark.sql.TypedColumn[org.apache.spark.sql.Row,U2])org.apache.spark.sql.Dataset[(U1, U2)] <and>
  (col: String,cols: String*)org.apache.spark.sql.DataFrame <and>
  (cols: org.apache.spark.sql.Column*)org.apache.spark.sql.DataFrame
 cannot be applied to (org.apache.spark.sql.Column, String)
       df.select(col("DEST_COUNTRY_NAME"), "DEST_COUNTRY_NAME")
          ^

StackTrace: